<ul class="contact">
  {{#if whatsapp.value}}
  <li class="whatsapp">
    <a href="https://wa.me/{{whatsapp.ref}}" target="_blank">
      {{> whatsappIcon}}
      {{whatsapp.value}}
    </a>
  </li>
  {{/if}}
  {{#if email}}
  <li class="email">
    <a href="mailto:{{email.value}}">
      {{> envelopeIcon}}
      {{email.value}}
    </a>
  </li>
  {{/if}}
  {{#if address}}
  <li class="address">
    <a href="https://maps.google.com/?q={{address.value}}" target="_blank">
      {{> locationIcon}}
      {{address.value}}
    </a>
  </li>
  {{/if}}
  {{#if github}}
  <li class="github">
    <a href="{{github.ref}}" target="_blank">
      {{> githubIcon}}
      {{github.value}}
    </a>
  </li>
  {{/if}}
  {{#if linkedin}}
  <li class="linkedin">
    <a href="{{linkedin.ref}}" target="_blank">
      {{> linkedinIcon}}
      {{linkedin.value}}
    </a>
  </li>
  {{/if}}
  {{#each personal}}
  <li class="site">
    <a href="{{this.ref}}" target="_blank">
      {{> siteIcon}}
      {{this.value}}
    </a>
  </li>
  {{/each}}
</ul>